# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Charith Ellawala
	email = charith.ellawala@gmail.com

[url "git@github.com:"]
    insteadOf = https://github.com/

[alias]
    lg = log --color --graph --decorate --oneline --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset'
    ll = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit --decorate --oneline --stat
	s = status
	co = checkout
	cane = commit --amend --no-edit
    sync = "!BRANCH=$(git symbolic-ref --short HEAD) && git fetch upstream && git merge --ff-only upstream/$BRANCH && git push origin $BRANCH" 
    files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
    stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
    review = !vim -p $(git files) +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"
    reviewone = !vim -p +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\" 
    cm = checkout main

[pull]
    rebase = true

[gpg]
    program = gpg2

[rerere]
	enabled = true

[core]
    pager = delta

[delta]
    features = decorations
    side-by-side = true
    syntax-theme = Dracula
    dark = true
    hyperlinks = true
    line-numbers = true
    pager = less

[interactive]
    difffilter = delta --color-only --features=interactive

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[fetch]
	prune = true
[format]
	signOff = true
[includeIf "gitdir:~/work/**"]
    path = ~/.gitconfig_work
